name: Deploy NodeJs Application to Hostinger

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Deploy Via SSH
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.SSH_HOST }}
                username: root
                key: ${{ secrets.SSH_KEY }}
                script: |
                    cd /root/nodejs-app-deploy-with-docker-and-cicd-using-github-actions-learning
                    git pull
                    docker compose up -d --build